:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  --number-button-size: 7.5vw;
  --number-button-border-radius: 20%;
  --number-button-font-size: 3vw;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: light-dark(white, #333);
}

button {
  cursor: pointer;
}
